# Air Quality Prediction

In this notebook, I'm going to analise a dataset which have information about air quality of 6 different cities around the world.

The main objetive is to prepare the data and gather information using supervised algorithem to make future predictions

### The Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# importing the data
df_raw = pd.read_csv("Air_Quality.csv")
df_raw.head()

,Date,City,CO,CO2,NO2,SO2,O3,PM2.5,PM10,AQI
0,2024-01-01 00:00:00+00:00,Brasilia,323.0,NaN,23.8,2.8,42.0,12.0,17.1,16.800000
1,2024-01-01 01:00:00+00:00,Brasilia,318.0,NaN,21.9,2.7,40.0,12.5,17.9,16.000000
2,2024-01-01 02:00:00+00:00,Brasilia,309.0,NaN,19.2,2.6,39.0,12.1,17.3,15.599999
3,2024-01-01 03:00:00+00:00,Brasilia,295.0,NaN,16.3,2.4,38.0,11.4,16.2,15.200000
4,2024-01-01 04:00:00+00:00,Brasilia,270.0,NaN,13.0,2.1,40.0,10.2,14.6,16.000000

In [3]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52704 entries, 0 to 52703
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    52704 non-null  object
 1   City    52704 non-null  object
 2   CO      52704 non-null  float64
 3   CO2     9648 non-null   float64
 4   NO2     52704 non-null  float64
 5   SO2     52704 non-null  float64
 6   O3      52704 non-null  float64
 7   PM2.5   52704 non-null  float64
 8   PM10    52704 non-null  float64
 9   AQI     52704 non-null  float64
dtypes: float64(8), object(2)
memory usage: 4.0+ MB

In [ ]:
# Analysing the `Date` column
df_raw['Date'].value_counts(())

2024-01-01 00:00:00+00:00    6
2024-09-01 03:00:00+00:00    6
2024-08-31 21:00:00+00:00    6
2024-08-31 22:00:00+00:00    6
2024-08-31 23:00:00+00:00    6
                            ..
2024-05-01 17:00:00+00:00    6
2024-05-01 16:00:00+00:00    6
2024-05-01 15:00:00+00:00    6
2024-05-01 14:00:00+00:00    6
2024-12-31 23:00:00+00:00    6
Name: Date, Length: 8784, dtype: int64

In [12]:
df_raw[df_raw['Date'] == '2024-01-01 00:00:00+00:00']

,Date,City,CO,CO2,NO2,SO2,O3,PM2.5,PM10,AQI
0,2024-01-01 00:00:00+00:00,Brasilia,323.0,NaN,23.8,2.8,42.0,12.0,17.1,16.800000
8784,2024-01-01 00:00:00+00:00,Cairo,548.0,NaN,62.3,58.4,1.0,39.1,52.4,62.173332
17568,2024-01-01 00:00:00+00:00,Dubai,232.0,NaN,12.4,6.8,82.0,23.9,60.3,68.358340
26352,2024-01-01 00:00:00+00:00,London,162.0,NaN,4.7,1.0,65.0,3.5,7.3,9.070833
35136,2024-01-01 00:00:00+00:00,New York,514.0,NaN,56.8,10.7,0.0,19.3,27.8,26.720000
43920,2024-01-01 00:00:00+00:00,Sydney,71.0,NaN,7.7,4.4,29.0,12.2,22.2,24.808334

First thing noticed is that they calculated the metrics at the same time for each of the 6 chosen cities.

In [17]:
# Continuing the inventigation of the column `Date`
df_raw['Date'].head(25)

0     2024-01-01 00:00:00+00:00
1     2024-01-01 01:00:00+00:00
2     2024-01-01 02:00:00+00:00
3     2024-01-01 03:00:00+00:00
4     2024-01-01 04:00:00+00:00
5     2024-01-01 05:00:00+00:00
6     2024-01-01 06:00:00+00:00
7     2024-01-01 07:00:00+00:00
8     2024-01-01 08:00:00+00:00
9     2024-01-01 09:00:00+00:00
10    2024-01-01 10:00:00+00:00
11    2024-01-01 11:00:00+00:00
12    2024-01-01 12:00:00+00:00
13    2024-01-01 13:00:00+00:00
14    2024-01-01 14:00:00+00:00
15    2024-01-01 15:00:00+00:00
16    2024-01-01 16:00:00+00:00
17    2024-01-01 17:00:00+00:00
18    2024-01-01 18:00:00+00:00
19    2024-01-01 19:00:00+00:00
20    2024-01-01 20:00:00+00:00
21    2024-01-01 21:00:00+00:00
22    2024-01-01 22:00:00+00:00
23    2024-01-01 23:00:00+00:00
24    2024-01-02 00:00:00+00:00
Name: Date, dtype: object

This column shows us that the measures are made hour to hour from each of the 366 days of 2024 (leap year)

For this reason we have